i {
    font-size: 40px;
}

.board {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menuItem {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
